<% provide(:title, 'ユーザー情報変更') %>
<% provide(:button_text, '変更') %>
<% provide(:url, user_path) %>
<% provide(:action, 'update') %>

<h1>ユーザー情報変更/ユーザー削除</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'layouts/header' %>
    <!-- _form.html.erbを呼び出している? -->
    <%= render 'form' %>
    <p><%= link_to 'アカウント削除', user_path, data: { "turbo-method": :delete, turbo_confirm: '本当にアカウント削除しますか？' } %></p>
    </div>
  </div>
</div>

